<html>
  <head>
    <title>Andrew's Journey Into The World Of Machines</title>
  </head>
  <body>
    <h1>To The Moon!</h1>
    <p>This journal will be a record of my growth as a programmer.</p>
    <p>Retracing my steps will become increasingly important over time.</p>
    <p>From humble beginnnings...</p>

    <br></br>
    <br></br>

    <h2>Never Forget</h2>
    <p>I must hold in my mind an appreciation of the present day.</p>
    <p>But it's also important (maybe of utmost importance) to realize how far I have to go.</p>


    <br></br>
    <br></br>

    <h2>Important Areas of Focus</h2>
    <ul>
      <li>Python3</li>
      <li>Django</li>
      <li>Celery</li>
    </ul>

    {% for post in posts %}
      <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaks }}</p>

      </div>
    {% endfor %}

  </body>
</html>
